html, body {
    background: #303030;
    color: #fff;
    text-align: center;
    user-select: none;
    cursor: default;
}
body {
    margin-left: 72px;
    margin-right: 72px;
    font-size: 13px;
}
h1 {
    margin-top: 72px;
    margin-bottom: 24px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
    font-weight: normal;
}
ul {
    padding: 0;
    list-style: none;
}
button {
    background: #00E676;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
button:active {
    background: #00B85E;
}
button.flat {
    background: none;
    color: #00E676;
    box-shadow: none;
    padding: 8px 8px;
}
button.flat:active {
    background: rgba(0, 0, 0, 0.1);
}
input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
.caption {
    font-size: 12px;
}
.progressbar-ctr {
    background: rgba(0, 230, 118, 0.2);
    height: 5px;
}
.progressbar-active {
    position: relative;
    width: 0;
    background: #00E676;
    height: 100%;
    transition: width 0.2s ease-in-out;
}
#dialog-ctr {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;
}
.dialog {
    background: white;
    color: black;
    width: 60%;
    box-sizing: border-box;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
    padding: 24px;
    display: none;
}
.dialog h1 {
    margin-top: 0;
    margin-bottom: 16px;
}
.dialog-buttons {
    margin-top: 24px;
}
.dialog-button {
    float: right;
    margin-left: 8px;
}

#block-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
    display: none;
}

#loading-progress-ctr {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

#methods-list {
    padding-top: 8px;
}
#methods-list > *:not(:first-child) {
    margin-top: 24px;
}
#download-progress {
    margin-top: 8px;
    display: inline;
    float: left;
    font-weight: bold;
}
#download-progress-detail {
    margin-top: 8px;
    display: inline-block;
    float: right;
}