[Desktop Entry]
Name=MCPE launcher
Version=1.0
Exec=/usr/local/bin/mcpelauncher
Comment=Minecraft [Bedrock Engine]
Icon=/usr/local/share/pixmaps/mcpelauncher-icon.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Game;
