[Desktop Entry]
Type=Application
Name=Minecraft
Comment=Launches MCPE for Linux
Path=/usr/share/mcpelauncher
Exec="/usr/share/mcpelauncher/mcpelauncher"
GenericName=Voxel-based sandbox game
Icon=/usr/share/mcpelauncher/MCPEicon.png
NoDisplay=false
StartupNotify=true
Terminal=false
Categories=Game
